<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Diplômes et Formations</h2>
    </div>

    <div class="row">
      <div class="col-lg-6" *ngFor="let item of studiesList1">

        <div class="resume-item">
          <h4>{{item.name}}</h4>
          <h5>{{item.disc}}</h5>
          <p>{{item.year}}</p>
        </div>


      </div>
      <div class="col-lg-6" *ngFor="let item of studiesList2">

        <div class="resume-item">
          <h4>{{item.name}}</h4>
          <h5>{{item.disc}}</h5>
          <p>{{item.year}}</p>
        </div>

      </div>
    </div>

  </div>
</section>
