<section id="skills" class="skills section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Compétences</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">

        <div class="progress" *ngFor="let item of skillsList1">

            <span class="skill">{{ item.name }}<i class="val">{{ item.progress }}</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" style="width: {{item.progress}};"></div>
            </div>
        </div>
      </div>

      <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="progress" *ngFor="let item of skillsList2">

          <span class="skill">{{ item.name }}<i class="val">{{ item.progress }}</i></span>
          <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: {{item.progress}};"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
