<section id="skills" class="skills section-bg">
  <!--<div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Compétences</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">

        <div class="progress" *ngFor="let item of skillsList1">

            <span class="skill">{{ item.name }}<i class="val">{{ item.progress }}</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" style="width: {{item.progress}};"></div>
            </div>
        </div>
      </div>

      <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="progress" *ngFor="let item of skillsList2">

          <span class="skill">{{ item.name }}<i class="val">{{ item.progress }}</i></span>
          <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" style="width: {{item.progress}};"></div>
          </div>
        </div>
      </div>
    </div>
  </div>-->
<!--<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile *ngFor="let item of skillsList">

    <b>{{ item.name }}</b>
    <img mat-card-sm-image style="width: 20%; max-height: 50%;margin-left: 5%;" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >

  </mat-grid-tile>
</mat-grid-list>-->


  <div data-aos="zoom-in">
      <div class="section-title">
        <h2> Compétences </h2>
      </div>
      <div id="conteiner-cards" >
          <a href="#skills" class="cards" id="h1" *ngFor="let item of skillsList">
              <h3 class="title-ability">{{ item.name }}</h3>
              <img src="{{ item.icon }}" class="iconHabilits" alt="icon_c#">
          </a>
      </div>
  </div>


</section>
